*
	margin: 0
	+text-properties($mobile-font-size, $main-font, $main-color, $main-weight)
	@media screen and (min-width: 350px)
		font-size: $main-font-size
li
	list-style: none

.wrapper
	max-width: 900px
	margin: 0 auto
	padding: 25px
a
	text-decoration: none
button
	background: transparent
	border: 1px solid $light-color
	padding: 5px 20px
	@media screen and (min-width: 550px)
		border: 2px solid $light-color
		padding: 10px 40px
	&:hover
		transition: 0.5s
		background: $light-color
	&:hover .button-text
		transition: 0.5s
		color: $secondary-color
.button-text
	color: $button-text-color
	font-size: $mobile-font-size + 5px
	@media screen and (min-width: 550px)
		font-size: $main-font-size + 7px

.title
	text-align: center
	margin-bottom: 35px
	color: #222222
	font-size: $title-mobile-font-size
	font-family: "Brandon Grotesque Light"
	@media screen and (min-width: 350px)
		font-size: $title-font-size
	&-allotment
		color: #000
		font-weight: $bold-weight
		&-white
			color: #fff
			font-weight: $bold-weight
	&-desc
		text-align: center
		color: #777777
		font-size: $main-font-size + 2px
	&-white
		color: #fff
		font-family: "Brandon Grotesque Light"
