//text-style
//$main-background:#ffffff
$main-font-size: 14px
$title-font-size: 40px
$main-font: 'Montserrat', sans-serif
$main-color: #4d4d4d;
$secondary-color: #323232
$button-text-color: #ffffff
$desc-color: #848e97;
$main-weight: 400;
$border: 1px solid;
//$headlines: ;
//$img-text-desc: ;
$tc: center;
%main-text
	font-size: $main-font-size;
	font-family: $main-font;
	color: $main-color;
	font-weight: $main-weight;

%flex-center
	display: flex
	justify-content: center
	align-items: center
